# Configuración MySQL (Sequelize)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=ecommerce_db

# Configuración MongoDB (Mongoose)
MONGO_URI=mongodb://localhost:27017/ecommerce_db

# Base de Datos a usar (mysql | mongo)
DB_TYPE=mysql
#DB_TYPE=mongo